.DS_Store
node_modules
dist
bin
obj
nupkg
server/dotnet/.vs/FlowerBI/xs/
server/dotnet/.vs/FlowerBI/v16/
server/dotnet/.vs/FlowerBI/DesignTimeBuild/
client/packages/demo-site/public/_framework/
client/packages/demo-site/build/